<div class="home-container">
  <div class="container">
    <h1>Welcome to Yachty!</h1>
    <p>Your marketplace for high-end yachts</p>

    <div class="button-container">
      <%= link_to "Overview of Yachts", yachts_url, class: "btn-gradient" %>
      <%= link_to "List my yacht", "/yachts/new", class: "btn-gradient" %>
    </div>
  </div>
</div>
