<div class="container">
  <h1>All yachts</h1>
  <div class="row">
    <% @yachts.each do |yacht| %>
      <div class="col-md-4">
        <%= link_to yacht_path(yacht) do %>
          <div class="card-product">
            <div class="card-product-infos">
              <h2><%= yacht.name %></h2>
            </div>
            <% unless yacht.photo.key == nil %>
              <%= cl_image_tag yacht.photo.key %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
