<div class="container">
  <% @yachts.each do |yacht| %>
    <%= link_to yacht_path(yacht) do %>
      <div class="card-product">
        <div class="card-product-infos">
          <h2><%= yacht.name %></h2>
        </div>
        <% unless yacht.photo.key == nil %>
          <%= cl_image_tag yacht.photo.key %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
