<% @yachts.each do |yacht| %>
  <%= link_to yacht_path(yacht) do %>
    <div class="card-product">
      <% unless yacht.photo.key == nil %>
        <%= cl_image_tag yacht.photo.key %>
      <% end %>
      <div class="card-product-infos">
        <h2><%= yacht.name %></h2>
      </div>
    </div>
  <% end %>
<% end %>
