<% @yachts.each do |yacht| %>
  <div class="card-product">


  <% unless yacht.photo.key %>
    <%= cl_image_tag yacht.photo.key %>
      <div class="card-product-infos">
        <h2><%= link_to "#{yacht.title}", yacht_path(yacht) %></h2>
      </div>
    </div>
  <% end %>
<% end %>
